<!DOCTYPE html>
<html lang="en">
  {{ template "head" . }}
  <body>
    <main style="max-width: 38em; margin: 4m auto; text-align: center">
      <div>
        <img
          style="border-radius: 100%; max-width: 16em; border: 5px solid white"
          src="https://george.black/images/profile.avif"
          alt="George Black"
        />
      </div>
      <div>
        <h1>George Black</h1>
        <div style="display: flex; gap: 1.5em; justify-content: center; margin-top: 1em">
          <a href="https://github.com/georgemblack">GitHub</a>
          <a href="https://www.linkedin.com/in/georgemb/">LinkedIn</a>
          <a href="https://photos.george.black">Photos</a>
        </div>
      </div>
    </main>
  </body>
</html>
