<!DOCTYPE html>
<html lang="en">
  {{ template "head" . }}
  <body>
    <main style="display: flex; justify-content: space-between">
      <div>
        <h1>George Black</h1>
        <p>Software Engineer, currently living & working in Austin, TX.</p>
        <ul>
          <li><a href="https://github.com/georgemblack">GitHub</a></li>
          <li><a href="https://www.linkedin.com/in/georgemb/">LinkedIn</a></li>
        </ul>
      </div>
      <div style="margin-top: 2em">
        <img
          style="border-radius: 100%; max-width: 16em; border: 1px solid white"
          src="/images/profile.jpg"
          alt="George and his best friend, hiking"
        />
      </div>
    </main>
  </body>
</html>
