# build output
astro/dist/

# generated types
astro/.astro/

# dependencies
astro/node_modules/
worker/node_modules/

# package managers
astro/.yarn/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Wrangler
worker/.wrangler/

# VSCode
astro/.vscode/
worker/.vscode/

# macOS
.DS_Store

