/* ==========================================================================
   CSS Variables
   ========================================================================== */
:root {
  color-scheme: light dark;

  /* defined widths */
  --page-max-width: 42rem;

  /* spacing */
  --content-block-spacing: 1.25rem;

  /* fonts */
  --font-family-display: system-ui;
  --font-family-header: ui-rounded, "SF Pro Rounded", system-ui;
  --font-family-text: system-ui;
  --font-family-rounded: ui-rounded, "SF Pro Rounded", system-ui;

  /* font weights */
  --font-weight-bold: 900;
  --font-weight-extreme: 900;

  /* general purpose colors */
  --blockquote-border-color: #e4e1de;
  --line-separator-color: rgba(0, 0, 0, 0.05);

  /* text colors */
  --header-color: #2e2e2e;
  --body-color: #242424;
  --link-color: #0064e0;
  --link-hover-color: color-mix(in srgb, #0064e0, black 20%);
  --faded-text-color: rgba(0, 0, 0, 0.4);
}

/* dark mode */
@media screen and (prefers-color-scheme: dark) {
  :root {
    /* general purpose colors */
    --blockquote-border-color: #313641;
    --line-separator-color: rgba(255, 255, 255, 0.05);

    /* text colors */
    --header-color: #dddddd;
    --body-color: #f7f7f7;
    --link-color: #1e8dff;
    --link-hover-color: color-mix(in srgb, #1e8dff, black 20%);
    --faded-text-color: rgba(255, 255, 255, 0.4);
  }
}

@supports (color: AccentColor) {
  :root {
    --link-color: AccentColor;
    --link-hover-color: color-mix(in srgb, AccentColor, black 20%);
  }
}

/* ==========================================================================
   General-Purpose Classes
   ========================================================================== */
.subtitle {
  margin-top: 0;
  font-family: var(--font-family-display);
  color: var(--faded-text-color);
}

.view-small {
  display: none;
}

/* small break-point */
@media screen and (max-width: 32em) {
  .view-small {
    display: initial;
  }

  .view-large {
    display: none;
  }
}

/* ==========================================================================
   Essential Elements
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 1em;
  max-width: var(--page-max-width);
}

h1,
h2,
h3 {
  font-family: var(--font-family-header);
  font-weight: var(--font-weight-bold);
  color: var(--header-color);
}

:is(h1, h2, h3) a {
  color: var(--link-color);
}

:is(h1, h2, h3) a:hover {
  color: var(--link-hover-color);
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.25em;
}

p,
li {
  font-family: var(--font-family-text);
  font-size: 1em;
  color: var(--body-color);
}

blockquote {
  font-family: var(--font-family-text);
  color: var(--body-color);
}

figcaption {
  font-family: var(--font-family-text);
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

/* ==========================================================================
   Header and Navigation
   ========================================================================== */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 0;
  border-bottom: 2px solid var(--line-separator-color);
}

header .title {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}

header .title img {
  width: 2rem;
  border-radius: 100%;
}

header h1 a {
  font-size: 2rem;
  font-family: var(--font-family-rounded);
  font-weight: var(--font-weight-extreme);
  color: var(--header-color);
}

header h1 a:hover {
  color: var(--header-color);
}

nav {
  font-size: 1.5em;
  font-family: var(--font-family-rounded);
  font-weight: var(--font-weight-extreme);
  display: flex;
  gap: 1rem;
}

/* ==========================================================================
   Primary Content
   ========================================================================== */
main {
  margin: 2em 0 0 0;
}

main h1 {
  margin-top: var(--content-block-spacing);
}

main :is(h2, h3) {
  margin-top: 2rem;
  line-height: 125%;
}

main p {
  margin: var(--content-block-spacing) 0 0 0;
  line-height: 160%;
  text-rendering: optimizeLegibility;
}

main :is(ul, ol) {
  margin: var(--content-block-spacing) 0 0 0;
  padding: 0 0 0 2em;
  line-height: 160%;
}

main li p {
  margin: 0;
}

main li + li {
  margin-top: 0.15rem;
}

main :is(img, video) {
  width: 100%;
  border-radius: 0.5em;
}

main figure {
  margin: var(--content-block-spacing) 0 0 0;
}

main figcaption {
  font-size: 1em;
  width: 100%;
  margin: 0;
  padding: 0.25em 0;
  font-style: italic;
  line-height: normal;
  color: var(--faded-text-color);
}

main blockquote {
  position: relative;
  margin: var(--content-block-spacing) 0 0 0.5em;
  padding: 0.5em 1em 0.65em 1.5em;
  font-style: italic;
  line-height: 160%;
  text-rendering: optimizeLegibility;
}

main blockquote::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 8px;
  background-color: var(--blockquote-border-color);
  border-radius: 5px;
}

main blockquote p {
  margin-top: 0;
}

main pre code {
  display: block;
  margin: 2em 0 0 0;
  padding: 0.75em;
  overflow-x: scroll;
  color: var(--body-color);
  background-color: var(--line-separator-color);
  border-radius: 0.25em;
}

main iframe {
  margin: 1em 0 0 0;
}

main hr {
  margin: 1em 0 0 0;
  border-top: 1px solid var(--line-separator-color);
}

/* ==========================================================================
   Footer
   ========================================================================== */
footer {
  margin: 6em 0 4em 0;
  text-align: center;
}

/* ==========================================================================
   Homepage
   ========================================================================== */
.posts article:not(:first-child) {
  margin-top: 4em;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  margin-top: 2em;
  width: 100%;
}

.image-grid img {
  display: block;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

/* medium break-point */
@media screen and (max-width: 58em) {
  .image-grid {
    gap: 0.5em;
  }
}

.read-more-button p {
  display: inline-block;
  padding: 0.25em 1.25em;
  font-family: var(--font-family-display);
  background-color: var(--line-separator-color);
  border-radius: 2.5em;
}

.read-more-button:hover p {
  color: Canvas;
  background-color: var(--link-hover-color);
}
