{{ define "header" }}
<header>
  <h1 class="view-large"><a href="/">george.black</a></h1>
  <h1 class="view-small"><a href="/">gb</a></h1>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/likes">Likes</a>
    <a href="https://photos.george.black">Photos</a>
  </nav>
</header>
{{ end }}
