<!DOCTYPE html>
<html lang="en">
  {{ template "head" . }}
  <body>
    {{ template "header" . }}
    <main class="about">
      <div class="profile">
        <picture>
          <source
            srcset="/images/profile-ghost.webp"
            type="image/webp"
          />
          <img
            src="/images/profile-ghost.jpg"
            alt="George Black profile distorted"
            type="image/jpeg"
          />
        </picture>
      </div>
      <p>Hello. My name is George, and this is my site, hosted on the world wide web! I made it for fun – I would be shocked if anyone other than my girlfriend actually read this.</p>
      <p>I work in Chicago, and I’m a “software engineer”. I also love Wisconsin, it is <a href="https://twitter.com/georgeblackm/status/995345329087270912">home</a>. 🐄</p>
      <p>If another human being is actually reading this, you should really send me a message at <a href="mailto:contact@georgeblack.me">contact@georgeblack.me</a> – that would make my day!</p>
      <h2>Links</h2>
      <ul>
        <li><a href="/archive/">Archive</a> (currently broken)</li>
        <li><a href="https://georgeblack.me/feeds/main.xml">RSS Feed</a></li>
      </ul>
      <h2>Social Things</h2>
      <ul>
        <li><a href="https://github.com/georgemblack">GitHub</a> (is this considered social?)</li>
        <li><a href="https://twitter.com/georgeblackm">Twitter</a></li>
        <li><a href="https://www.linkedin.com/in/georgemblack/">LinkedIn</a></li>
      </ul>
      <h2>Tech Stuff</h2>
      <p>This site is hosted on <a href="https://workers.cloudflare.com">Cloudflare Workers</a>. Additional components are hosted on <a href="https://cloud.google.com">Google Cloud Platform</a>.</p>
      <p>The CSS is written by hand. Do you like it?</p>
    </main>
    {{ template "footer" . }}
  </body>
</html>
