<!DOCTYPE html>
<html lang="en">
  {{ template "head" . }}
  <body>
    {{ template "header" . }}
    <main class="archive">
      <h1>Archive</h1>
      {{ range .SiteData.Posts.Posts }}
      {{ if eq .Metadata.Draft false }}
      <div class="archive-item">
        <p><a href="/{{ . | getPostPath }}">{{ .Metadata.Title }}</a></p>
        <p class="subtitle">{{ .Published.Seconds | secondsToFormattedDate }}</p>
      </div>
      {{ end }}
      {{ end }}
    </main>
    {{ template "footer" . }}
  </body>
</html>
