<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}
    <main class="about">
      <div class="profile">
        <picture>
          <source
            srcset="/images/profile-ghost.webp"
            type="image/webp"
          />
          <img
            src="/images/profile-ghost.jpg"
            alt="George Black profile distorted"
            type="image/jpeg"
          />
        </picture>
      </div>
    {{ content }}
    </main>
    {% include footer.html %}
  </body>
</html>
