<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}
    <main class="home">
      {% include profile.html %}
      <div class="side-by-side">
        <div class="inner apple-music">
          <h2>Current Jam</h2>
          <iframe
            allow="autoplay *; encrypted-media *;"
            frameborder="0"
            height="150"
            style="width:100%;overflow:hidden;background:transparent;"
            sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
            src="https://embed.music.apple.com/us/album/loud-places-feat-romy-barnt-e-mix/1031728579?i=1031728873"
          ></iframe>
          <p>
            <a
              href="https://music.apple.com/us/album/loud-places-feat-romy-barnt-e-mix/1031728579?i=1031728873"
              >Apple Music</a
            >
            |
            <a
              href="https://music.apple.com/us/album/loud-places-feat-romy-barnt-e-mix/1031728579?i=1031728873"
              >Spotify</a
            >
          </p>
        </div>
        <div class="inner">
          <h2>Internet Places I Like</h2>
          {% include places.html %}
        </div>
      </div>
      <h2>Recent Posts</h2>
      {% include recent-posts.html %}
    </main>
    {% include footer.html %}
  </body>
</html>
