<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  {% include header.html %}
  <main>
    <h1>Recent Posts</h1>
    {% for post in site.posts %}
      {% if post.type != "link" %}
      <article style="margin-bottom: 6em;">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p class="subtitle">{{ post.date | date: "%B %-d, %Y" }}</p>
        {{ post.excerpt }}
        <p><a href="{{ post.url }}">Read More &#8594;</a></p>
      </article>
      {% endif %}
      {% if post.type == "link" %}
      <article style="margin-bottom: 6em;">
        <h2><a href="{{ post.link_url }}">{{ post.title }} &#8594;</a></h2>
        <p class="subtitle">{{ post.date | date: "%B %-d, %Y" }}</p>
        {{ post.content }}
      </article>
      {% endif %}
    {% endfor %}
  </main>
  {% include footer.html %}
</body>

</html>
