/* ==========================================================================
   CSS Variables
   ========================================================================== */
:root {
  /* defined widths */
  --page-max-width: 54rem;
  --reading-max-width: 38rem;

  /* primary fonts */
  --primary-font: system-ui, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica, sans-serif;
  --primary-font-rounded: ui-rounded, system-ui, -apple-system,
    BlinkMacSystemFont, Roboto, Helvetica, sans-serif;

  /* font weights */
  --font-weight-bold: 900;
  --font-weight-normal: 400;

  /* general purpose colors */
  --background-color: #f0ece9;
  --blockquote-border-color: #e4e1de;
  --line-separator-color: rgba(0, 0, 0, 0.05);

  /* header colors */
  --nav-link-color: rgba(0, 0, 0, 0.5);
  --nav-link-hover-color: #302b29;

  /* text colors */
  --header-color: #2e2e2e;
  --header-link-color: #284273;
  --header-link-hover-color: #35589c;
  --body-color: #242424;
  --link-color: #35589c;
  --link-hover-color: #302b29;
  --faded-text-color: rgba(0, 0, 0, 0.4);

  /* specific section colors */
  --search-background-color: rgba(255, 255, 255, 0.75);
}

/* dark mode */
@media screen and (prefers-color-scheme: dark) {
  :root {
    /* general purpose colors */
    --background-color: #101212;
    --blockquote-border-color: #313641;
    --line-separator-color: rgba(255, 255, 255, 0.05);

    /* header colors */
    --nav-link-color: rgba(255, 255, 255, 0.5);
    --nav-link-hover-color: #dddddd;

    /* text colors */
    --header-color: #dddddd;
    --header-link-color: #799cff;
    --header-link-hover-color: #5e84ff;
    --body-color: #f7f7f7;
    --link-color: #799cff;
    --link-hover-color: #5e84ff;
    --faded-text-color: rgba(255, 255, 255, 0.4);

    /* specific section colors */
    --search-background-color: rgba(255, 255, 255, 0.1);
  }
}

/* medium break-point */
@media screen and (max-width: 58em) {
  :root {
    --page-max-width: var(--reading-max-width);
  }
}

/* ==========================================================================
     General-Purpose Classes
     ========================================================================== */
.subtitle {
  margin-top: 0;
  color: var(--faded-text-color);
}

.supertitle {
  color: var(--faded-text-color);
}

.view-small {
  display: none;
}

/* medium break-point */
@media screen and (max-width: 58em) {
  .view-small {
    display: initial;
  }

  .view-large {
    display: none;
  }
}

/* ==========================================================================
     Essential Elements
     ========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 1em;
  max-width: var(--page-max-width);
  font-family: var(--primary-font);
  background-color: var(--background-color);
}

h1,
h2,
h3 {
  font-weight: var(--font-weight-bold);
  color: var(--header-color);
}

:is(h1, h2, h3) a {
  color: var(--header-link-color);
}

:is(h1, h2, h3) a:hover {
  color: var(--header-link-hover-color);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

p,
li,
blockquote {
  font-size: 1.125em;
  color: var(--body-color);
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

/* ==========================================================================
     Header and Navigation
     ========================================================================== */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75em 0;
  border-bottom: 2px solid var(--line-separator-color);
}

header h1 a {
  margin: 0 0.25em 0 0;
  font-family: var(--primary-font-rounded);
  color: var(--header-color);
}

header h1 a:hover {
  color: var(--header-color);
}

nav {
  font-size: 1.125em;
  font-weight: var(--font-weight-bold);
  display: flex;
  justify-content: space-between;
  gap: 0.75em;
}

nav a {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-link-hover-color);
}

/* medium break-point */
@media screen and (max-width: 58em) {
  nav {
    gap: 0.65em;
  }
}

/* small break-point */
@media screen and (max-width: 22.5em) {
  nav {
    font-size: 1em;
    gap: 0.5em;
  }
}

/* ==========================================================================
     Primary Content
     ========================================================================== */
main {
  margin: 2em 0 0 0;
}

main h1 {
  margin-top: 1em;
}

main :is(h2, h3) {
  margin-top: 2em;
}

main p {
  max-width: var(--reading-max-width);
  margin: 1.25em 0 0 0;
  line-height: 180%;
  text-rendering: optimizeLegibility;
}

main :is(ul, ol) {
  max-width: var(--reading-max-width);
  margin: 1em 0 0 0;
  padding: 0 0 0 2em;
  line-height: 180%;
}

main li {
  line-height: 180%;
  text-rendering: optimizeLegibility;
}

main :is(img, video) {
  border-radius: 0.25em;
}

main img {
  width: 100%;
  max-width: var(--reading-max-width);
}

main figure {
  margin: 1.25em 0 0 0;
}

main figcaption {
  font-size: 1em;
  width: 100%;
  max-width: var(--reading-max-width);
  margin: 0;
  padding: 0.25em 1em;
  text-align: center;
  font-style: italic;
  line-height: normal;
  color: var(--faded-text-color);
}

main blockquote {
  max-width: var(--reading-max-width);
  border-left: 6px solid var(--blockquote-border-color);
  margin: 1.25em 0 0 1em;
  padding: 0.5em 1em;
  font-style: italic;
  line-height: 180%;
  text-rendering: optimizeLegibility;
}

main pre code {
  display: block;
  margin: 2em 0 0 0;
  padding: 0.75em;
  max-width: var(--reading-max-width);
  overflow-x: scroll;
  color: var(--body-color);
  background-color: var(--line-separator-color);
  border-radius: 0.25em;
}

main iframe {
  margin: 1em 0 0 0;
}

main hr {
  max-width: var(--reading-max-width);
  margin: 1em 0 0 0;
  border-top: 1px solid var(--line-separator-color);
}

/* ==========================================================================
     Footer
     ========================================================================== */
footer {
  margin: 6em 0 4em 0;
}

/* ==========================================================================
     Homepage
     ========================================================================== */
.bio {
  display: flex;
  gap: 2em;
  align-items: center;
  padding: 1.5em 2em;
  border-radius: 2em;
  background-color: var(--line-separator-color);
  box-shadow: 8px 10px 55px -40px rgba(0, 0, 0, 0.75);
}

.bio img {
  width: 8em;
  border-radius: 100%;
}

.bio p {
  margin: 0;
}

.bio .search input {
  width: 100%;
  margin: 1em 0 0 0;
  padding: 0.75em 1em;
  font-size: 1em;
  color: var(--body-color);
  background-color: var(--search-background-color);
  border: none;
  border-radius: 0.5em;
  box-shadow: 8px 10px 55px -40px rgba(0, 0, 0, 0.75);
}

/* medium break-point */
@media screen and (max-width: 58em) {
  .bio {
    flex-direction: column;
    gap: 1em;
  }
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1em;
  margin-top: 2em;
  width: 100%;
}

.image-grid img {
  display: block;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

/* medium break-point */
@media screen and (max-width: 58em) {
  .image-grid {
    gap: 0.5em
  }
}

.read-more-button p {
  display: inline-block;
  padding: 0 0.65em;
  background-color: var(--line-separator-color);
  border-radius: 2.5em;
}

.read-more-button:hover p {
  color: var(--background-color);
  background-color: var(--link-hover-color);
}
