<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}
    <main class="archive">
      {{ content }}
      {% for post in site.posts  %}
      {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
      {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}
      {% if forloop.first %}
      <h2>{{ this_year }}</h2>
      {% endif %}
      <p><a href="{{ post.url }}">{{ post.title }}</a><span class="subtitle"> – {{ post.date | date: "%b %-d" }}</span></p>
      {% if this_year != next_year and forloop.last != true %}
      <h2>{{ next_year }}</h2>
      {% endif %}
      {% endfor %}
    </main>
    {% include footer.html %}
  </body>
</html>
