/* ==========================================================================
   SCSS Variables
   ========================================================================== */
$break-point-medium: 58em;
$break-point-small: 28em;

/* ==========================================================================
   CSS Variables
   ========================================================================== */
:root {
  // defined widths
  --page-max-width: 54rem;
  --reading-max-width: 38rem;

  // primary fonts
  --primary-font: -apple-system, system-ui, sans-serif;

  // font weights
  --font-weight-bold: 900;
  --font-weight-normal: 400;

  // general purpose
  --background-color: #ffffff;
  --blockquote-border-color: #fab7c3;
  --line-separator-color: #d1d1d1;

  // header colors
  --nav-link-color: #757575;
  --nav-link-hover-color: #3d3d3d;

  // text colors
  --header-color: #3d3d3d;
  --body-color: #111111;
  --link-color: #e2637a; // Original: #ff718c
  --link-hover-color: #bd4f63;
  --faded-text-color: #757575;

  @media (prefers-color-scheme: dark) {
    // general purpose
    --background-color: #282c35;
    --blockquote-border-color: #313641;
    --line-separator-color: #313641;

    // header colors
    --nav-link-color: rgba(255, 255, 255, 0.5);
    --nav-link-hover-color: #f7f7f7;

    // text colors
    --header-color: #dddddd;
    --body-color: #f7f7f7;
    --link-color: #ffa7c4;
    --link-hover-color: #dd7d9d;
    --faded-text-color: rgba(255, 255, 255, 0.4);
  }

  @media screen and (max-width: $break-point-medium) {
    --page-max-width: var(--reading-max-width);
  }
}

/* ==========================================================================
   Essential Elements
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0 1em;
  max-width: var(--page-max-width);
  font-family: var(--primary-font);
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  color: var(--header-color);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.65em;
}

p,
li {
  font-size: 1.125em;
  color: var(--body-color);
}

a {
  text-decoration: none;
  color: var(--link-color);

  &:hover {
    color: var(--link-hover-color);
  }
}

/* ==========================================================================
   Header and Navigation
   ========================================================================== */
header {
  .inner {
    padding: 0.75em 0;
    border-bottom: 1px solid var(--line-separator-color);
  }
}

nav {
  margin: 0.15em 0 0 0;
  font-size: 1.125em;
  font-weight: var(--font-weight-bold);

  a {
    margin: 0 0.75em 0 0;
    color: var(--nav-link-color);

    &:hover {
      color: var(--nav-link-hover-color);
    }
  }

  @media screen and (max-width: $break-point-small) {
    margin: 0.35em 0 0 0;

    a {
      margin: 0 0.6em 0 0;
    }
  }
}

/* ==========================================================================
   Primary Content
   ========================================================================== */
main {
  margin: 2em 0 6em 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1em;
  }

  p {
    max-width: var(--reading-max-width);
    margin: 1.25em 0 0 0;
    line-height: 180%;
    text-rendering: optimizeLegibility;
  }

  ul,
  ol {
    margin: 1em 0 0 2em;
    line-height: 180%;
  }

  img,
  video {
    margin: 2em 0 0 0;
    border-radius: 0.25em;
  }

  img {
    max-width: var(--reading-max-width);
    width: 100%;
  }

  blockquote {
    margin: 1em 0 0 1em;
    padding: 0.5em 1em;
    font-style: italic;
    border-left: 5px solid var(--blockquote-border-color);

    p {
      margin: 0;
    }
  }

  iframe {
    margin: 1em 0 0 0;
  }
}

/* ==========================================================================
   General-Purpose Classes
   ========================================================================== */
.subtitle {
  margin-top: 0;
  color: var(--faded-text-color);
}

/* ==========================================================================
   Home Page
   ========================================================================== */
.home {
  section {
    margin-top: 3.5em;

    h2 {
      margin-top: 0;
    }
  }

  .profile {
    max-width: 16em;
    margin: 0 auto;
    img {
      margin: 0;
      border-radius: 100%;
    }
  }

  .side-by-side {
    display: flex;
    justify-content: space-between;

    .inner {
      width: 100%;
    }

    .inner:first-child {
      margin-right: 2em;
    }

    @media screen and (max-width: $break-point-medium) {
      flex-direction: column;
    }
  }

  .apple-music {
    p {
      margin-top: 0;
    }
  }

  .recent-posts {
    article {
      padding: 1.25em 0;
      border-bottom: 1px solid var(--line-separator-color);

      h2,
      p {
        margin: 0;
      }
    }
  }
}

/* ==========================================================================
   Notes Page
   ========================================================================== */
.notes {
  article {
    margin-bottom: 6em;
  }
}

/* ==========================================================================
   Post Pages
   ========================================================================== */
.post {
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 2em;
  }
}
