{{ define "image" }}
<picture>
  {{ if .Args.avif }}
  <source srcset="{{ .SiteMetadata.MediaURL }}/{{ .Args.avif }}" type="image/avif">
  {{ end }}
  {{ if .Args.webp }}
  <source srcset="{{ .SiteMetadata.MediaURL }}/{{ .Args.webp }}" type="image/webp">
  {{ end }}
  {{ if .Args.jpg }}
  <img src="{{ .SiteMetadata.MediaURL }}/{{ .Args.jpg }}" {{ if .Args.alt }}alt="{{ .Args.alt }}" {{ end }} type="image/jpeg">
  {{ end }}
</picture>
{{ end }}
