---
import Page from "../layouts/Page.astro";
---

<Page title="About" mainClass="about">
  <div class="profile">
    <picture>
      <img src="/images/profile.avif" alt="George Black profile distorted" />
    </picture>
  </div>
  <p>
    Hello. My name is George, and this is my site, hosted on the world wide web!
    I made it for fun – I would be shocked if anyone other than my wife actually
    read this.
  </p>
  <p>
    I work in Austin, Texas as a software engineer. I love Wisconsin, it is <a
      href="https://twitter.com/georgeblackm/status/995345329087270912">home</a
    >. 🐄
  </p>
  <p>
    If another human being is actually reading this, you should really send me a
    message at <a href="mailto:contact@george.black">contact@george.black</a> – that
    would make my day!
  </p>
  <h2>Search</h2>
  <form
    class="search"
    method="get"
    id="search"
    action="https://duckduckgo.com/"
  >
    <input type="hidden" name="sites" value="george.black" />
    <input
      type="text"
      name="q"
      maxlength="255"
      placeholder="Search this site..."
      autocomplete="off"
    />
  </form>
  <h2>Links</h2>
  <ul>
    <li><a href="/archive/">Archive</a></li>
    <li>
      <a href="https://george.black/feeds/main.json">JSON Feed</a> (<a
        href="https://www.jsonfeed.org">What is a JSON feed?</a
      >)
    </li>
  </ul>
  <h2>Social Things</h2>
  <ul>
    <li>
      <a href="https://github.com/georgemblack">GitHub</a> (is this considered social?)
    </li>
    <li><a href="https://bsky.app/profile/george.black">Bluesky</a></li>
    <li><a href="https://www.linkedin.com/in/georgemblack/">LinkedIn</a></li>
  </ul>
  <h2>Colophon</h2>
  <p>
    This site is powered by <a href="https://workers.cloudflare.com"
      >Cloudflare Workers</a
    >, and built using a custom <a href="https://github.com/georgemblack/web"
      >static site generator</a
    >. Most components are hosted on <a href="https://cloud.google.com"
      >Google Cloud Platform</a
    >.
  </p>
  <p>The CSS is written by hand. Do you like it?</p>
</Page>
