---
import { getPosts } from "../util/Api";
import { slug } from "../util/Format";
import Page from "../layouts/Page.astro";

const combined = await getPosts();
const visible = combined.filter((item) => item.visible);

// Group posts by year
let years = {};
visible.forEach((post) => {
  const year = new Date(post.published).getFullYear().toString();
  if (!years[year]) {
    years[year] = [];
  }
  years[year].push(post);
});
---

<Page title="Archive">
  <h1>Archive</h1>
  <p>
    All the dumb shit I’ve said, organized in one place for your convenience.
  </p>
  {
    Object.keys(years)
      .reverse()
      .map((year) => {
        return (
          <>
            <h2>{year}</h2>
            <ul>
              {years[year].map((item) => {
                return (
                  <li>
                    <a href={`/${slug(item)}`}>{item.title}</a>
                  </li>
                );
              })}
            </ul>
          </>
        );
      })
  }
</Page>
