---
import { getPosts } from "../util/Api";
import { timestamp, slug } from "../util/Format";
import Page from "../layouts/Page.astro";

const combined = await getPosts();
const visible = combined.filter((item) => item.visible);
---

<Page title="Archive">
  <h1>Archive</h1>
  <p>
    All the dumb shit I’ve said, organized in one place for your convenience.
  </p>
  <div class="card-list">
    {
      visible.map((post) => (
        <div class="card">
          <h2>
            <a href={`/${slug(post)}`}>{post.title}</a>
          </h2>
          <p class="subtitle">{timestamp(post.published)}</p>
        </div>
      ))
    }
  </div>
</Page>
