---
import Full from "../layouts/Full.astro";
---

<Full>
  <main style="margin: 4em auto; text-align: center">
    <div>
      <img
        style="border-radius: 100%; max-width: 16em; border: 5px solid white"
        src="/images/profile.avif"
        alt="George Black"
      />
    </div>
    <div>
      <h1>George Black</h1>
      <nav
        style="display: flex; gap: 1em; justify-content: center; margin-top: 1em"
      >
        <a href="https://bsky.app/profile/george.black">Bluesky</a>
        <a href="https://github.com/georgemblack">GitHub</a>
        <a href="/home">More</a>
      </nav>
    </div>
  </main>
</Full>
