---
import Page from "../layouts/Page.astro";
---

<Page title="Software">
  <h1>Software</h1>
  <p>
    Just for fun – I've compiled a list of software that I love, and use
    regularly.
  </p>
  <h2>Reading</h2>
  <ul>
    <li><a href="https://netnewswire.com">NetNewsWire</a></li>
  </ul>
  <h2>Software Development</h2>
  <ul>
    <li><a href="https://cyberduck.io">Cyberduck</a></li>
    <li><a href="https://nova.app">Nova</a></li>
    <li><a href="https://ghostty.org">Ghostty</a></li>
  </ul>
  <h2>Photography</h2>
  <ul>
    <li><a href="https://www.pixelmator.com/photomator/">Photomator</a></li>
  </ul>
</Page>
