---
import { getCollection } from "astro:content";
import type { Post } from "../util/Format";
import { slug } from "../util/Format";
import Page from "../layouts/Page.astro";

const entries = await getCollection("posts");
const posts = entries.map((e) => e.data);
posts.sort((a, b) => (a.published < b.published ? 1 : -1));

// Group posts by year
const years: { [key: string]: Post[] } = {};
posts.forEach((post) => {
  const year = new Date(post.published).getFullYear().toString();
  if (!years[year]) {
    years[year] = [];
  }
  years[year].push(post);
});
---

<Page title="Archive">
  <h1>Archive</h1>
  <p>
    All the dumb shit I've said, organized in one place for your convenience.
  </p>
  {
    Object.keys(years)
      .reverse()
      .map((year) => {
        return (
          <>
            <h2>{year}</h2>
            <ul>
              {years[year].map((item: Post) => {
                return (
                  <li>
                    <a href={`/${slug(item)}`}>
                      {item.external_link && "🔗 "}
                      {item.title}
                    </a>
                  </li>
                );
              })}
            </ul>
          </>
        );
      })
  }
</Page>
