---

---

<!doctype html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double+Ink:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        font-family: "Bitcount Grid Double Ink", system-ui;
        text-align: right;
      }

      body {
        background-color: black;
      }

      h1 {
        color: greenyellow;
      }

      #warning {
        position: absolute;
        inset-inline-start: 40px;
        inset-block-start: 40px;
        background: linear-gradient(
          to right,
          #8a2be2,
          #0000cd,
          #228b22,
          #ccff00
        );
        color: white;

        &:hover {
          display: none;
        }
      }
    </style>
  </head>
  <body
    ><iframe
      width="400"
      height="300"
      src="https://www.youtube.com/embed/yTkaRNMvYeQ?si=ZBo20lXFYpAsnY1C&controls=0&autoplay=1"
      title="YouTube video player"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"></iframe><h1>
      george's tunes
    </h1><div id="warning">
      please make sure your browser supports modern standards like corner-shape:
      squircle;
    </div></body
  ><footer></footer>
</html>
