{{ define "header" }}
<header>
  <h1><a href="/">gb</a></h1>
  <nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/likes">Likes</a>
    <a href="https://photos.george.black">Photos</a>
  </nav>
</header>
{{ end }}
