---
import Head from "../components/Head.astro"
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"

interface Props {
  title?: string;
  mainClass?: string;
}

const { title, mainClass } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <Head title={title} />
  <body>
    <Header />
    <main class={mainClass}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
