---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { subtitle } from "../util/Format";
import type { Post } from "../util/Api";
import LinkIcon from "../components/LinkIcon.astro";

interface Props {
  post: Post;
}

const { post }: { post: Post } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={post.title} />
  <body>
    <Header />
    <main class="post">
      <article>
        <h1>
          {
            post.external_link ? (
              <a href={post.external_link}>
                <LinkIcon />
                {post.title}
              </a>
            ) : (
              post.title
            )
          }
        </h1>
        <p class="subtitle">{subtitle(post)}</p>
        <slot />
      </article>
    </main>
    <Footer />
  </body><script
    is:inline
    async
    src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
</html>
