---

---

<header>
  <div class="title">
    <img src="/images/profile.avif" alt="George Black" />
    <h1 class="view-large"><a href="/home">george.black</a></h1>
    <h1 class="view-small"><a href="/home">gb</a></h1>
  </div>
  <nav>
    <a href="/archive">🗃️</a>
    <a href="/tunes">🎧</a>
    <a href="https://bsky.app/profile/george.black">🦋</a>
    <a href="https://glass.photo/georgeblack">📷</a>
  </nav>
</header>
